
<mat-card-title> Cadastro Médico </mat-card-title>

<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input placeholder="Nome" [(ngModel)]="Nome" id="Nome"> 
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Crm</mat-label>
        <input placeholder="Crm" [(ngModel)]="Crm" id="Crm">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Especialidade</mat-label>
        <input placeholder="Especialidade" [(ngModel)]="Especialidade" id="Especialidade">
    </mat-form-field>

    <button mat-raised-button color="warn" (click)="create()">Cadastrar</button>
</div>